<hr>
<div class="col-md-7">
  <%= form_tag(my_conditions_path, method: :post, class: "") do %>
    <% @libraries.each_with_index do |library, i| %>
      <% if i == 0 %>
        <div class="form-group">
          <%= check_box_tag 'check-city', 'check-city', false, class: 'check-city form-check-input position-static' %>
          <label class="h4"><%= @city %></label>
        </div>
      <% end %>
      <div class="form-group col-md-offset-2 col-md-10">
        <%= hidden_field_tag "my_conditions[#{i}][systemid_for_calil]", library.systemid %>
        <%= hidden_field_tag "my_conditions[#{i}][libname_for_calil]", library.formal %>
        <%= check_box_tag "my_conditions[#{i}][libid_for_calil]", library.libid, false, class: 'form-check-input position-static' %>
        <%= link_to library.formal, "http://calil.jp/library/#{library.libid}/#{library.formal}", target: "_blank" %> 
      </div>
    <% end %>
    <%= button_tag '登録', class: 'btn btn-success' %>
  <% end %>
</div>