<div class="user-profile">
  <div class="icon text-center">
    <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
  </div>
  <div class="name text-center">
    <h1><%= @user.name %></h1>
  </div>
  <div class="status text-center">
    <ul>
      <li>
        <div class="status-label">欲しい！</div>
        <div id="want_count" class="status-value">
          <%= @count_want %>
        </div>
      </li>
      <li>
        <div class="status-label">持ってる！</div>
        <div id="have_count" class="status-value">
          <%= @count_have %>
        </div>
      </li>
      <li>
        <div class="status-label">レビュー</div>
        <div id="review_count" class="status-value">
          <%= @count_review %>
        </div>
      </li>
    </ul>
  </div>
</div>
<%= render 'books/books', books: @books %>